In [ ]:
#Exercise 1
import pandas as pd
titanic_df = pd.read_csv('/content/train.csv')
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
titanic_no_duplicates = titanic_df.drop_duplicates()
titanic_no_duplicates

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
titanic_duplicate = titanic_df.duplicated()
titanic_duplicate

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

In [ ]:
num_duplicates = titanic_duplicate.sum()
num_duplicates

0

In [ ]:
#Exercise 2
titanic_df.isnull().sum() #calculate missing null values
titanic_df.dropna(inplace=True) #handling missing data by removing it
titanic_df['Age'].fillna(titanic_df['Age'].mean(), inplace=True)      #imputation - the act of replacing missing values with something else
titanic_df['Embarked'].fillna(titanic_df['Embarked'].mode()[0], inplace=True)
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [ ]:
from sklearn.impute import SimpleImputer #SimpleImputer usage
imputer = SimpleImputer(strategy='mean')
titanic_df['Age'] = imputer.fit_transform(titanic_df[['Age']])
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

df

In [ ]:
#Exercise 3: Feature Engineering
titanic_df['FamilySize'] = titanic_df['SibSp'] + titanic_df['Parch'] + 1
titanic_df['Title'] = titanic_df['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Title
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,Mrs
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,Mrs
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,Mr
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,Miss
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,Miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3,Mrs
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,Mr
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2,Mrs
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,Mr

In [ ]:
# One-hot encode '' and 'Sex', C
from sklearn.preprocessing import LabelEncoder

In [ ]:
#Exercise 4: Outlier Detection and Handling
Q1 = titanic_df['Fare'].quantile(0.25)
Q3 = titanic_df['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
outliers = titanic_df[(titanic_df['Fare'] < lower_bound) | (titanic_df['Fare'] > upper_bound)]
print(outliers)

     PassengerId  Survived  Pclass  \
27            28         0       1
88            89         1       1
118          119         0       1
299          300         1       1
311          312         1       1
341          342         1       1
377          378         0       1
438          439         0       1
679          680         1       1
689          690         1       1
700          701         1       1
716          717         1       1
730          731         1       1
737          738         1       1
742          743         1       1
779          780         1       1

                                                  Name     Sex   Age  SibSp  \
27                      Fortune, Mr. Charles Alexander    male  19.0      3
88                          Fortune, Miss. Mabel Helen  female  23.0      3
118                           Baxter, Mr. Quigg Edmond    male  24.0      0
299    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  female  50.0      0
311                         Ryerson, Miss. Emily Borie  female  18.0      2
341                     Fortune, Miss. Alice Elizabeth  female  24.0      3
377                          Widener, Mr. Harry Elkins    male  27.0      0
438                                  Fortune, Mr. Mark    male  64.0      1
679                 Cardeza, Mr. Thomas Drake Martinez    male  36.0      0
689                  Madill, Miss. Georgette Alexandra  female  15.0      0
700  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  female  18.0      1
716                      Endres, Miss. Caroline Louise  female  38.0      0
730                      Allen, Miss. Elisabeth Walton  female  29.0      0
737                             Lesurer, Mr. Gustave J    male  35.0      0
742              Ryerson, Miss. Susan Parker "Suzette"  female  21.0      2
779  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  female  43.0      0

     Parch    Ticket      Fare            Cabin Embarked  FamilySize Title
27       2     19950  263.0000      C23 C25 C27        S           6    Mr
88       2     19950  263.0000      C23 C25 C27        S           6  Miss
118      1  PC 17558  247.5208          B58 B60        C           2    Mr
299      1  PC 17558  247.5208          B58 B60        C           2   Mrs
311      2  PC 17608  262.3750  B57 B59 B63 B66        C           5  Miss
341      2     19950  263.0000      C23 C25 C27        S           6  Miss
377      2    113503  211.5000              C82        C           3    Mr
438      4     19950  263.0000      C23 C25 C27        S           6    Mr
679      1  PC 17755  512.3292      B51 B53 B55        C           2    Mr
689      1     24160  211.3375               B5        S           2  Miss
700      0  PC 17757  227.5250          C62 C64        C           2   Mrs
716      0  PC 17757  227.5250              C45        C           1  Miss
730      0     24160  211.3375               B5        S           1  Miss
737      0  PC 17755  512.3292             B101        C           1    Mr
742      2  PC 17608  262.3750  B57 B59 B63 B66        C           5  Miss
779      1     24160  211.3375               B3        S           2   Mrs

In [ ]:
Q1 = titanic_df['Age'].quantile(0.25)
Q3 = titanic_df['Age'].quantile(0.75)
IQR = Q3 - Q1

In [ ]:
titanic_df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'FamilySize', 'Title'],
      dtype='object')

In [ ]:
scaler = MinMaxScaler()
titanic_df['Age_Scaled'] = scaler.fit_transform(titanic_df[['Age']])
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Title,Age_Scaled
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,Mrs,0.468892
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,Mrs,0.430956
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,Mr,0.671219
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,Miss,0.038948
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,Miss,0.721801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3,Mrs,0.582701
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,Mr,0.405665
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2,Mrs,0.696510
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,Miss,0.228629
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,Mr,0.317147

In [ ]:
titanic_df = pd.read_csv('/content/train.csv')
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
Q1 =titanic_df['Fare'].quantile(0.25)
Q3 = titanic_df['Fare'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
titanic_data_fare= titanic_df[(titanic_df['Fare'] >= lower_bound) & (titanic_df['Fare'] <= upper_bound)]
titanic_data_fare

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,FamilySize,Title,Age_Scaled
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2,Mrs,0.468892
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,2,Mrs,0.430956
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,Mr,0.671219
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,3,Miss,0.038948
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,1,Miss,0.721801
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3,Mrs,0.582701
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,Mr,0.405665
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,2,Mrs,0.696510
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,1,Miss,0.228629
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,Mr,0.317147

In [ ]:
#average fare
average_fare = titanic_df['Fare'].mean()
print(average_fare)

32.204207968574636

In [ ]:
Q1 =titanic_df['Age'].quantile(0.25)
Q3 = titanic_df['Age'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
titanic_data_age= titanic_df[(titanic_df['Age'] >= lower_bound) & (titanic_df['Age'] <= upper_bound)]
titanic_data_age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#average age
average_age = titanic_df['Age'].mean()
print(average_age)

29.69911764705882

In [ ]:
#Exercise 5: Data Standardization and Normalization

In [ ]:
titanic_df['Fare'] = titanic_df['Fare'].round(2)
titanic_df['Age'] = titanic_df['Age'].round(2)
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.3,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.1,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.8,NaN,Q

In [ ]:
summary_stats_age= titanic_df.describe().round()
summary_stats_age
print(summary_stats_age['Age'])

count    714.0
mean      30.0
std       15.0
min        0.0
25%       20.0
50%       28.0
75%       38.0
max       80.0
Name: Age, dtype: float64

In [ ]:
summary_stats_fare= titanic_df.describe().round()
summary_stats_fare
print(summary_stats_fare['Fare'])

count    891.0
mean      32.0
std       50.0
min        0.0
25%        8.0
50%       14.0
75%       31.0
max      512.0
Name: Fare, dtype: float64

In [ ]:
#identify the numerical columns in the dataset
numerical_cols = titanic_df.select_dtypes(include=['float', 'int']).columns
print(numerical_cols)

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [ ]:
#Basic statistics of the dataset
titanic_df[numerical_cols].describe().round()

       PassengerId  Survived  Pclass    Age  SibSp  Parch   Fare
count        891.0     891.0   891.0  714.0  891.0  891.0  891.0
mean         446.0       0.0     2.0   30.0    1.0    0.0   32.0
std          257.0       0.0     1.0   15.0    1.0    1.0   50.0
min            1.0       0.0     1.0    0.0    0.0    0.0    0.0
25%          224.0       0.0     2.0   20.0    0.0    0.0    8.0
50%          446.0       0.0     3.0   28.0    0.0    0.0   14.0
75%          668.0       1.0     3.0   38.0    1.0    0.0   31.0
max          891.0       1.0     3.0   80.0    8.0    6.0  512.0

In [117]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
titanic_df['Fare_standardized'] = scaler.fit_transform(titanic_df[['Fare']])

minmax_scaler = MinMaxScaler()
titanic_df['Age_normalized'] = minmax_scaler.fit_transform(titanic_df[['Age']])
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Fare_standardized,Age_normalized
0,-1.730108,-0.789272,0.827377,"Braund, Mr. Owen Harris",male,-0.530383,0.432793,-0.473674,A/5 21171,-0.503571,NaN,S,-0.503571,0.271357
1,-1.726220,1.266990,-1.566107,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.571831,0.432793,-0.473674,PC 17599,0.787110,C85,C,0.787110,0.472362
2,-1.722332,1.266990,0.827377,"Heikkinen, Miss. Laina",female,-0.254829,-0.474545,-0.473674,STON/O2. 3101282,-0.489476,NaN,S,-0.489476,0.321608
3,-1.718444,1.266990,-1.566107,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.365166,0.432793,-0.473674,113803,0.420645,C123,S,0.420645,0.434673
4,-1.714556,-0.789272,0.827377,"Allen, Mr. William Henry",male,0.365166,-0.474545,-0.473674,373450,-0.485449,NaN,S,-0.485449,0.434673
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,1.714556,-0.789272,-0.369365,"Montvila, Rev. Juozas",male,-0.185941,-0.474545,-0.473674,211536,-0.386785,NaN,S,-0.386785,0.334171
887,1.718444,1.266990,-1.566107,"Graham, Miss. Margaret Edith",female,-0.737048,-0.474545,-0.473674,112053,-0.044483,B42,S,-0.044483,0.233668
888,1.722332,-0.789272,0.827377,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,0.432793,2.008933,W./C. 6607,-0.177377,NaN,S,-0.177377,NaN
889,1.726220,1.266990,-1.566107,"Behr, Mr. Karl Howell",male,-0.254829,-0.474545,-0.473674,111369,-0.044483,C148,C,-0.044483,0.321608
890,1.730108,-0.789272,0.827377,"Dooley, Mr. Patrick",male,0.158501,-0.474545,-0.473674,370376,-0.491490,NaN,Q,-0.491490,0.396985

In [118]:
#Exercise 6: Feature Encoding

In [122]:
categorical_columns = ['Sex', 'Embarked']
for col in categorical_columns:
    # Check if the column is ordinal or nominal based on domain knowledge
    if col in ['Sex']:  # Assuming 'Sex' is nominal
        # One-hot encoding for nominal variables
        one_hot_encoded = pd.get_dummies(titanic_df[col], prefix=col)
        titanic_df = pd.concat([titanic_df, one_hot_encoded], axis=1)
        titanic_df.drop(col, axis=1, inplace=True)
    elif col in ['Embarked']:  # Assuming 'Embarked' is nominal
        # Label encoding for ordinal variables
        label_encoder = LabelEncoder()
        titanic_df[col] = label_encoder.fit_transform(titanic_df[col])

In [123]:
 print(titanic_df.head())

   PassengerId  Survived    Pclass  \
0    -1.730108 -0.789272  0.827377
1    -1.726220  1.266990 -1.566107
2    -1.722332  1.266990  0.827377
3    -1.718444  1.266990 -1.566107
4    -1.714556 -0.789272  0.827377

                                                Name       Age     SibSp  \
0                            Braund, Mr. Owen Harris -0.530383  0.432793
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  0.571831  0.432793
2                             Heikkinen, Miss. Laina -0.254829 -0.474545
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.365166  0.432793
4                           Allen, Mr. William Henry  0.365166 -0.474545

      Parch            Ticket      Fare Cabin  Embarked  Fare_standardized  \
0 -0.473674         A/5 21171 -0.503571   NaN         2          -0.503571
1 -0.473674          PC 17599  0.787110   C85         0           0.787110
2 -0.473674  STON/O2. 3101282 -0.489476   NaN         2          -0.489476
3 -0.473674            113803  0.420645  C123         2           0.420645
4 -0.473674            373450 -0.485449   NaN         2          -0.485449

   Age_normalized  Sex_female  Sex_male
0        0.271357       False      True
1        0.472362        True     False
2        0.321608        True     False
3        0.434673        True     False
4        0.434673       False      True

In [125]:
#creating age bins. From
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80]
labels = ['0-9', '10-19', '20-29', '30-39', '40-49', '50-59', '60-69', '70-79']

# Create age groups with .cut
titanic_df['Age_Group'] = pd.cut(titanic_df['Age'], bins=bins, labels=labels, right=False)

# One-hot encode 'Age_Group'
titanic_df = pd.get_dummies(titanic_df, columns=['Age_Group'], prefix=['Age'])
titanic_df

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,...,Sex_female,Sex_male,Age_0-9,Age_10-19,Age_20-29,Age_30-39,Age_40-49,Age_50-59,Age_60-69,Age_70-79
0,-1.730108,-0.789272,0.827377,"Braund, Mr. Owen Harris",-0.530383,0.432793,-0.473674,A/5 21171,-0.503571,NaN,...,False,True,False,False,False,False,False,False,False,False
1,-1.726220,1.266990,-1.566107,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0.571831,0.432793,-0.473674,PC 17599,0.787110,C85,...,True,False,True,False,False,False,False,False,False,False
2,-1.722332,1.266990,0.827377,"Heikkinen, Miss. Laina",-0.254829,-0.474545,-0.473674,STON/O2. 3101282,-0.489476,NaN,...,True,False,False,False,False,False,False,False,False,False
3,-1.718444,1.266990,-1.566107,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0.365166,0.432793,-0.473674,113803,0.420645,C123,...,True,False,True,False,False,False,False,False,False,False
4,-1.714556,-0.789272,0.827377,"Allen, Mr. William Henry",0.365166,-0.474545,-0.473674,373450,-0.485449,NaN,...,False,True,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,1.714556,-0.789272,-0.369365,"Montvila, Rev. Juozas",-0.185941,-0.474545,-0.473674,211536,-0.386785,NaN,...,False,True,False,False,False,False,False,False,False,False
887,1.718444,1.266990,-1.566107,"Graham, Miss. Margaret Edith",-0.737048,-0.474545,-0.473674,112053,-0.044483,B42,...,True,False,False,False,False,False,False,False,False,False
888,1.722332,-0.789272,0.827377,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,0.432793,2.008933,W./C. 6607,-0.177377,NaN,...,True,False,False,False,False,False,False,False,False,False
889,1.726220,1.266990,-1.566107,"Behr, Mr. Karl Howell",-0.254829,-0.474545,-0.473674,111369,-0.044483,C148,...,False,True,False,False,False,False,False,False,False,False
890,1.730108,-0.789272,0.827377,"Dooley, Mr. Patrick",0.158501,-0.474545,-0.473674,370376,-0.491490,NaN,...,False,True,True,False,False,False,False,False,False,False