In [2]:
import pandas as pd
import numpy as np
datascience_df = pd.read_csv('/content/datascience_salaries.csv')
datascience_df.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary
0,0,Data scientist,Full Time,Senior,New York City,USD,149000
1,2,Data scientist,Full Time,Senior,Boston,USD,120000
2,3,Data scientist,Full Time,Senior,London,USD,68000
3,4,Data scientist,Full Time,Senior,Boston,USD,120000
4,5,Data scientist,Full Time,Senior,New York City,USD,149000

In [3]:
from sklearn.preprocessing import MinMaxScaler

In [20]:
#Normalize the salary column using Min_Max_Scale
scalar = MinMaxScaler()
datascience_df['normal_salary'] = scalar.fit_transform(datascience_df[['salary']])
datascience_df.head()

,Unnamed: 0,job_title,job_type,experience_level,location,salary_currency,salary,normal_salary
0,0,Data scientist,Full Time,Senior,New York City,USD,0.601010,0.601010
1,2,Data scientist,Full Time,Senior,Boston,USD,0.454545,0.454545
2,3,Data scientist,Full Time,Senior,London,USD,0.191919,0.191919
3,4,Data scientist,Full Time,Senior,Boston,USD,0.454545,0.454545
4,5,Data scientist,Full Time,Senior,New York City,USD,0.601010,0.601010

In [21]:
#Implement dimensionality reduction on the dataset
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.5.0)

In [22]:
df = datascience_df.drop_duplicates()
df = datascience_df.drop(columns=['job_title'])
from sklearn.decomposition import PCA

In [25]:
numeric_cols = datascience_df.select_dtypes(include=['number']).columns
categorical_cols = datascience_df.select_dtypes(include=['object']).columns

from sklearn.decomposition import PCA

# Use datascience_df instead of df for get_dummies
df_encoded = pd.get_dummies(datascience_df, columns=categorical_cols)
print(df_encoded.head())

# Assuming you want to reduce to 2 dimensions
pca = PCA(n_components=2)
reduced_data = pca.fit_transform(df_encoded)

   Unnamed: 0    salary  normal_salary  job_title_Big data  \
0           0  0.601010       0.601010               False
1           2  0.454545       0.454545               False
2           3  0.191919       0.191919               False
3           4  0.454545       0.454545               False
4           5  0.601010       0.601010               False

   job_title_Data analyst  job_title_Data scientist  job_title_ML Ops  \
0                   False                      True             False
1                   False                      True             False
2                   False                      True             False
3                   False                      True             False
4                   False                      True             False

   job_title_Machine learning  job_type_Full Time  job_type_Internship  ...  \
0                       False                True                False  ...
1                       False                True                False  ...
2                       False                True                False  ...
3                       False                True                False  ...
4                       False                True                False  ...

   location_Wilmington  location_Work from Home  location_Wrocław  \
0                False                    False             False
1                False                    False             False
2                False                    False             False
3                False                    False             False
4                False                    False             False

   location_Zurich  location_tel aviv  location_České Budějovice  \
0            False              False                      False
1            False              False                      False
2            False              False                      False
3            False              False                      False
4            False              False                      False

   location_İstanbul  salary_currency_EUR  salary_currency_GBP  \
0              False                False                False
1              False                False                False
2              False                False                False
3              False                False                False
4              False                False                False

   salary_currency_USD
0                 True
1                 True
2                 True
3                 True
4                 True

[5 rows x 337 columns]

In [26]:
agg_data = df.groupby('experience_level')['salary'].agg(['mean', 'median']).reset_index()

# Print the aggregated data
print(agg_data)

  experience_level      mean    median
0            Entry  0.030864  0.000000
1        Executive  0.232712  0.080808
2              Mid  0.110035  0.106061
3           Senior  0.227717  0.191919